<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.happiness.todaysout">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />

    <application
        android:name="com.happiness.todaysout.src.ApplicationClass"
        android:allowBackup="false"
        android:fullBackupContent="false"
        android:icon="@drawable/app_icon"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning"
        tools:targetApi="n">
        <activity android:name="com.happiness.todaysout.src.emergency.DateActivity"></activity>
        <activity android:name="com.happiness.todaysout.src.emergency.MonthActivity"></activity>
        <activity android:name="com.happiness.todaysout.src.mypage.DongSettingActivity" />
        <activity android:name="com.happiness.todaysout.src.mypage.ProfileEditActivity" />
        <activity android:name="com.happiness.todaysout.src.mypage.SettingActivity" />
        <activity android:name="com.happiness.todaysout.src.emergency.EmergencyActivity" />
        <activity android:name="com.happiness.todaysout.src.mypage.MyPageActivity" />
        <activity android:name="com.happiness.todaysout.src.alarm.AlarmInfoActivity" />
        <activity android:name="com.happiness.todaysout.src.alarm.AlarmActivity" />
        <activity android:name="com.happiness.todaysout.src.weather.WriteActivity" />
        <activity
            android:name="com.happiness.todaysout.src.weather.NoticeBoardDetailActivity"
            android:windowSoftInputMode="adjustNothing" />
        <activity android:name="com.happiness.todaysout.src.weather.WeatherActivity"></activity>
        <activity android:name="com.happiness.todaysout.src.main.AddTownActivity" />
        <activity android:name="com.happiness.todaysout.src.main.EditTownActivity" />
        <activity android:name="com.happiness.todaysout.src.login.SearchActivity" />
        <activity android:name="com.happiness.todaysout.src.login.TownSettingActivity" />
        <activity android:name="com.happiness.todaysout.src.login.ProfileActivity" />
        <activity android:name="com.happiness.todaysout.src.login.LoginActivity" />
        <activity android:name="com.happiness.todaysout.src.login.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.happiness.todaysout.src.login.SplashFirstActivity"></activity>
        <activity android:name="com.happiness.todaysout.src.main.MainActivity"></activity>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.happiness.todaysout"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <service android:name="com.happiness.todaysout.MyFirebaseMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <meta-data
            android:name="com.kakao.sdk.AppKey"
            android:value="@string/kakao_app_key" />
    </application>

</manifest>